<html>
<head>
    <title>班级主页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content=" ">
    <meta name="keywords" content="">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link href="css/base.css" rel="stylesheet" type="text/css">
    <link href="css/index.css" rel="stylesheet" type="text/css">
    <link href="css/iconfont.css" rel="stylesheet" type="text/css">
    <script src="js/font.js"></script>
    <script type="text/javascript" src="js/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="js/swipe.js"></script>
    <script>
        $(function () {
            var mySwipe = Swipe($('.banner')[0], {
                auto: false,
                continuous: true,
                stopPropation: true,
                callback: function (index, element) {
                    $('.banner ol li').removeClass('active');
                    $('.banner ol li').eq(index).addClass('active');
                }
            });
        });
    </script>
</head>
<body>
<div class="nav">
</div>
<div class="content">
    <div class="banner">
        <ul class="clearfix">
            <% for(var i = 0;i < banners.length;i++){ %>
            <li>
                <img src="<%= banners[i].img_src %>" alt=""/>
                <div class="text-box">
                    <h2><%= banners[i].class %></h2>
                </div>
            </li>
            <% } %>
        </ul>
        <ol>
            <li class="active"></li>
            <li></li>
            <li></li>
        </ol>
    </div>
    <div style="overflow: hidden;background: #fff" class="section">
        <ul class="navicon clearfix">
            <% for(var i = 0;i < modules.length;i++){ %>
            <li class="nav-item">
                <a>
                    <i class="wrap-icon iconfont <%= modules[i].icon %>"
                       style='background: <%= modules[i].style %>'></i>
                    <span class="nav-txt"><%= modules[i].name %></span>
                </a>
            </li>
            <% } %>
        </ul>
    </div>
    <div class="block"></div>
    <div class="list-wrap">
        <h1 class="list-title"><i></i>班级动态
            <a class="more" >查看更多</a></h1>
            <div>                  
                <ul class="list" :class="{'isHome':isHome}">
                        <% for (var i = 0;i < contents.length;i++){ %>
                    <li>
                        <div class="icon"><img src="<%= contents[i].auth_avatar %>"></div>
                        <div class="text">
                            <h2 class="name"><%= contents[i].title %></h2>
                            <span class="releaseName">
                                <span>发布人: <%= contents[i].publishName && contents[i].publishName.length > 4 ? (contents[i].publishName.substring(0,4) + '...') : contents[i].publishName %></span>
                            </span>
                            <!-- <span class="time" v-show="timeShow"><%= contents[i].createtime %></span> -->
                            <p class="desc"><%= contents[i].summary %></p>
                        </div>
                    </li> 
                        <% } %>            
                </ul> 
            </div>
        <div style='display: none'  class="no-result">暂无动态</div>
    </div>
    <!-- <div class="list-wrap" v-show="showAlbum">
        <h1 class="list-title"><i></i>班级相册<router-link tag="span" class="more" :to="{path:'/classPhoto', query:{classid:currentClass.id}}">查看更多</router-link></h1>            
        <ul class="photoList clearfix">
            <li class="photo-item" v-for="item in module.classPhotos">
                <router-link :to="{path:'/classPhotoDetail', query:{id:item.id}}">
                    <img :src="item.cover" alt=""/>
                    <h2 class="name">{{item.name}}</h2>
                </router-link>
            </li>
        </ul>
        <div v-show="showAlbum && !module.classPhotos.length" class="no-result">暂无相册</div>
    </div>
    <div class="block" ></div> -->
</div>
<div class="foot-btn" style='display: none'>
    <ul>
        <a href="/add">发布</a>
    </ul>
</div>
<script>
$.ajax({
    url: '/profile/get',
    data: {
        id: 1
    },
    success: function(res){
        console.log(res.data,'res')
    }
})
</script>
<style>
    .newsList li a {
        padding: 0.3rem;
        display: block;
        height: 1.2rem;
        overflow: hidden;
    }

    .newsList a img {
        float: left;
        width: 1.2rem;
        height: 1.2rem;
    }

    .newsList a p {
        margin-left: 1.4rem;
    }

    .block {
        height: 0.24rem;
        background: #F9F9F9;
        box-shadow: 0px 2px 3px #F1F1F1 inset;
    }
</style>
</body>
</html>

